@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black");
.playListTitle{
  font-family: "Circular Spotify Tx T Black";
  text-transform: none;
  letter-spacing: -0.04em;
  font-weight: 900
}
@layer components{
  .button{
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-100 ease-out;
  }
}